* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrap {
  margin: 30px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("../images/tatiane-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 50px);
  color: white;
  position: relative;
}

.banner:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
  z-index: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}

.banner-text {
  text-align: center;
  padding: 0 10px 30px 10px;
  z-index: 1;
}

.banner-text h1 {
  font-size: 40px;
}

.banner-text p {
  font-size: 25px;
  margin-bottom: 30px;
}

.banner-button {
  text-decoration: none;
  font-weight: bold;
  background-color: white;
  color: purple;
  font-size: 20px;
  border-radius: 30px;
  background-color: white;
  padding: 10px 20px;
  transition: all 0.3s;
}

.banner-button:hover {
  background-color: #826994;
  color: white;
}

.info-container {
  max-width: 960px;
  margin: 0 auto;
}

#about-me {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-description {
  max-width: 960px;
  padding-right: 60px;
}

.about-me-description h2 {
  font-size: 35px;
  color: #826994;
  margin: 0 auto;
}

.description1 {
  font-size: 20px;
  line-height: 30px;
}

.description2 {
  margin-bottom: 20px;
  line-height: 25px;
}

.about-me-button {
  text-decoration: none;
  border: 3px solid purple;
  color: purple;
  border-radius: 40px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  text-align: center;
  transition: all 0.3s;
}

.about-me-button:hover {
  background-color: #826994;
  color: white;
  border: 3px solid #826994;
}

.list-title {
  color: purple;
  font-size: 20px;
}

.skills-list-items {
  line-height: 25px;
  width: 202px;
}

.projects-container {
  margin-top: 50px;
}

.projects-title {
  color: purple;
  font-size: 20px;
  font-weight: bold;
}

.projects-list-title {
  color: #826994;
}

.projects-list-items {
  line-height: 25px;
}

.projects-container li:not(:last-child) {
  margin-bottom: 20px;
}

.projects-list-items a {
  transition: all 0.3s;
}

.projects-list-items a:hover {
  color: purple;
  text-decoration: underline;
}

.projects-list-items p {
  margin: 0 0 4px
}

.projects-list-items span {
  font-style: italic;
  font-size: 14px;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.social-media-title {
  background-color: #826994;
  color: white;
  padding: 25px 40px;
  margin: 20px;
  border-radius: 20px;
  text-decoration: none;
  width: 201px;
  text-align: center;
  box-shadow: 3px 3px 10px #826994;
}

.social-media-title p {
  margin: 0;
}

.footer {
  background-color: #dcdcdc;
  text-align: center;
  padding: 20px;
  margin-top: 35px;
}

@media screen and (max-width: 1024px) {
  #about-me {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-container {
    max-width: 735px;
  }

  .about-me-description {
    padding: 0;
  }

  .about-me-list {
    margin-top: 30px;
    align-self: flex-start;
  }
}

@media screen and (max-width: 720px) {
  .banner {
    height: calc(100vh - 100px);
  }

  .info-container {
    max-width: 100%;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .banner-text h1 {
    font-size: 35px;
  }

  .banner-text p {
    font-size: 20px;
  }

  .banner-button {
    font-size: 16px;
  }

  .about-me-description h2 {
    font-size: 29px;
  }
}

@media screen and (max-width: 825px) and (orientation: landscape) {
  .banner-text h1 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 15px;
  }

  .banner-text p {
    font-size: 18px;
    margin: 0;
    margin-bottom: 25px;
  }

  .banner-button {
    font-size: 15px;
  }

  .banner:before {
    height: 142px;
  }
}
